[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dateutil = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"

[dev-packages]

[requires]
python_version = "3.9"
